@page "/login"
@using System.ComponentModel.DataAnnotations
@layout HeadLessLayout

<PageTitle>FinAspire - Login</PageTitle>


<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6">
        <MudPaper Elevation="3" Class="mud-width-full pa-8 border border-solid border-2 mud-border-primary rounded-0">
            <div class="d-flex justify-center flex-column align-center">
                <img src="img/logo.svg" alt="Logo" width="100"/>
            </div>
            <MudForm Class="gap-8" @ref="_mudForm">
                <MudTextField
                    T="string"
                    InputType="InputType.Email"
                    Label="Email"
                    Required="true"
                    RequiredError="Emails is required"
                    Validation="@(new EmailAddressAttribute { ErrorMessage = "Invalid e-mail" })"/>
                <MudTextField
                    T="string"
                    InputType="InputType.Password"
                    Placeholder="Password"
                    Required
                    RequiredError="Password is required"/>
            </MudForm>
            
            <div class="d-flex mt-8 align-left">
                <MudButton Class="rounded-0">
                    <MudText HtmlTag="strong">
                        SignIn
                    </MudText>
                </MudButton>
                <MudSpacer/>
                <MudButton Class="rounded-0 border-2 mud-border-primary" Href="/register" Variant="Variant.Outlined">
                    <MudText HtmlTag="strong">
                        SignUp
                    </MudText>
                </MudButton>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    MudForm? _mudForm;
    
}